#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-1 H1 {
  color: #ffffff;
}
#header4-1 P {
  color: #c1c1c1;
}
#content5-4 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#content5-4 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-4 .mbr-article {
  color: #efefef;
}
#content5-4 .mbr-article P {
  text-align: center;
}
#ext_menu-5 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-5 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-5 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-15 H3 {
  text-align: center;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-14 H3 {
  text-align: center;
}
#content4-q .mbr-section__col .mbr-header__text {
  font-size: 24px;
}
#msg-box3-u .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-u .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-u .mbr-article P {
  text-align: center;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-7 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-13 H3 {
  text-align: center;
}
#content4-j .mbr-section__col .mbr-header__text {
  font-size: 24px;
}
#content4-l .mbr-section__col .mbr-header__text {
  font-size: 24px;
}
#content4-k .mbr-section__col .mbr-header__text {
  font-size: 24px;
}
#content4-k .mbr-section__col .mbr-header__text P {
  font-size: 24px;
}
#msg-box3-v .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-v .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-v .mbr-article {
  text-align: center;
}
#ext_menu-b .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-i .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-i .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-i .mbr-article P {
  text-align: center;
}
